body {
    background-color: #666;
}


#resume {
    text-overflow: ellipsis;
    /* Required for text-overflow to do anything */
    white-space: nowrap;
    /* overflow: hidden; */
    background-color: white;
    size: 7in 9.25in;
    /* border: 1px solid black; */
    /* height:297mm; */
    width:210mm;
    margin: 30px auto;
    padding: 10px 20px;
}

h6{
    margin-top: 0px;
}

.subhead {
    position: relative;
    bottom: 10px;
}
.text-center {
    text-align: center;
}

.container {
    display: grid;
    grid-template-columns: 1.5fr 3fr;
}


.left-list-head {
    font-size: 16px;
}
.left-list-body {
    position: relative;
    bottom: 8px;
    font-size: 12px;
}

ul {
    list-style: none;
    list-style-position: outside;
    padding-left: 0px;
}

ol {
    list-style: disc;
    list-style-position: inside;
    padding-left: 5px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 10px;
}

.capital {
    text-transform: uppercase;
}
ul > li {
    text-transform: capitalize;
}
li {
    text-transform:none;
    margin: 5px;
}

.fa-circle{
    font-size: 5px;
    position: relative;
    bottom: 5px;
}

a {
    color: black;
    text-decoration: none;
    text-transform: none;
}

a:hover {
    color: blue;
    text-decoration: underline;
}

.icon-right {
    font-size: 9px;
    position: relative;
    bottom: 1px;
    margin-right: 10px;
}

.right-container {
    display: grid;
    grid-template-columns: 23px 1fr;
}

.right-header{
    margin-bottom: 5px;
}
.right-item {
    margin-bottom: 15px;
}
.content {
    font-size: 12px;
    white-space: normal;
}
.text {
    margin-bottom: 5px;
}

.indent {
    text-indent: 10px;
}

.topic {
    font-weight: bold;
}


.circle-right {
    font-weight: bolder;
    position:relative;
    left: 2px;
    bottom: 6px;
    font-size: 5px;
}

.hidden {
    visibility: hidden;
}

td {
    width: 170px;
    padding: 0px;
}
.pd2{
    padding-left: 2px;
}

.height500 {
    height: 150px;
}

.date {
    color: #666666;
}
